<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">
      <p class="customerCode">
        <input name="customerCode" type="text"
               class="feedback-input" placeholder="customerCode"
               id="customerCode"/>
      </p>
      <p class="customerName">
        <input name="customerName" type="text" class="feedback-input" id="customerName"
               placeholder="customerName"/>
      </p>
      <p class="customerIdCard">
        <input name="customerIdCard" type="text" class="feedback-input" id="customerIdCard"
               placeholder="customerIdCard"/>
      </p>
      <p class="customerPhone">
        <input name="customerPhone" type="text" class="feedback-input" id="customerPhone"
               placeholder="customerPhone"/>
      </p>
      <p class="customerEmail">
        <input name="customerEmail" type="text" class="feedback-input" id="customerEmail"
               placeholder="customerEmail"/>
      </p>
      <p class="customerAddress">
        <input name="customerAddress" type="text" class="feedback-input" id="customerAddress"
               placeholder="customerAddress"/>
      </p>
      <p class="customerGender">
        <select class="custom-select custom-select-lg mb-3">
          <option selected>--Gender--</option>
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>
      </p>
      <p class="customerType">
        <select class="custom-select custom-select-lg mb-3">
          <option selected>--customerType--</option>
          <option value="Diamond">Diamond</option>
          <option value="Platinum">Platinum</option>
          <option value="Gold">Gold</option>
          <option value="Silver">Silver</option>
          <option value="Member">Member</option>
        </select>
      </p>
      <div class="submit">
        <input type="submit" value="EDIT" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
</div>
