<div class="container mt-5 mb-5 d-flex justify-content-center">
  <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title text-center text-primary text-uppercase">*****</h6>
    <h1 class="mb-5">Customer <span class="text-primary text-uppercase">Create</span></h1>
    <div class="card px-1 py-4">
      <div class="card-body">
        <h6 class="card-title mb-3 shadow text-info text-center">Please enter your information</h6>
        <div class="row">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group mb-4">
                Id Card
                <input class="form-control" type="number"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group mb-4">
                Phone
                <input class="form-control" type="number"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group mb-4">
                Email
                <input class="form-control" type="text"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group mb-4">
                Address
                <input class="form-control" type="text"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <select class="form-select mb-4">
                  <option selected>--Gender--</option>
                  <option value="1">Male</option>
                  <option value="0">Female</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <select class="form-select mb-4">
                  <option selected>--customerType--</option>
                  <option value="Diamond">Diamond</option>
                  <option value="Platinum">Platinum</option>
                  <option value="Gold">Gold</option>
                  <option value="Silver">Silver</option>
                  <option value="Member">Member</option>
                </select>
              </div>
            </div>
          </div>
          <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"><small class="agree-text">By Booking this
            appointment you agree to the</small> <a href="#" class="terms">Terms & Conditions</a></div>
          <button class="btn btn-primary btn-block confirm-button" type="submit">Create New</button>
        </div>
      </div>
    </div>
  </div>
</div>
