<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">
      <p class="serviceName">
        <input name="serviceName" type="text"
               class="feedback-input" placeholder="serviceName"
               id="serviceName"/>
      </p>
      <p class="serviceArea">
        <input name="serviceArea" type="number" class="feedback-input" id="serviceArea"
               placeholder="serviceArea"/>
      </p>
      <p class="serviceCost">
        <input name="serviceCost" type="number" class="feedback-input" id="serviceCost"
               placeholder="serviceCost"/>
      </p>
      <p class="serviceMaxPeople">
        <input name="serviceMaxPeople" type="number" class="feedback-input" id="serviceMaxPeople"
               placeholder="serviceMaxPeople"/>
      </p>
      <p class="standardRoom">
        <input name="standardRoom" type="text" class="feedback-input" id="standardRoom"
               placeholder="standardRoom"/>
      </p>
      <p class="poolArea">
        <input name="poolArea" type="number" class="feedback-input" id="poolArea"
               placeholder="poolArea"/>
      </p>
      <p class="numberOfFloors">
        <input name="numberOfFloors" type="number" class="feedback-input" id="numberOfFloors"
               placeholder="numberOfFloors"/>
      </p>
      <p class="descriptionOtherConvenience">
        <input name="descriptionOtherConvenience" type="text" class="feedback-input" id="descriptionOtherConvenience"
               placeholder="descriptionOtherConvenience"/>
      </p>
      <p class="facilityType">
        <select class="custom-select custom-select-lg mb-3">
          <option selected>--Facility Type--</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </p>
      <p class="rentType">
        <select class="custom-select custom-select-lg mb-3">
          <option selected>--Rent Type--</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </p>
      <div class="submit">
        <input type="submit" value="EDIT" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
</div>
