<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<div class="calculator__keys">
  <table>
    <tr>
      <td>
        <button>7</button>
      </td>
      <td>
        <button>8</button>
      </td>
      <td>
        <button>9</button>
      </td>
      <td>
        <button class="key--operator" data-action="add">+</button>
      </td>
    </tr>
    <tr>
      <td>
        <button>4</button>
      </td>
      <td>
        <button>5</button>
      </td>
      <td>
        <button>6</button>
      </td>
      <td>
        <button class="key--operator" data-action="subtract">-</button>
      </td>
    </tr>
    <tr>
      <td>
        <button>1</button>
      </td>
      <td>
        <button>2</button>
      </td>
      <td>
        <button>3</button>
      </td>
      <td>
        <button class="key--operator" data-action="multiply">&times;</button>
      </td>
    </tr>
  </table>
  <button class="key--operator" data-action="divide">÷</button>
  <button>0</button>
  <button data-action="decimal">.</button>
  <button data-action="clear">AC</button>
  <button class="key--equal" data-action="calculate">=</button>
</div>
</body>

