<div class="container">
  <div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title text-center text-primary text-uppercase">*****</h6>
        <h1 class="mb-5">Contract <span class="text-primary text-uppercase">List</span></h1>
      </div>
      <button class="custom-btn btn-14" [routerLink]="'/contract-create'"><span>Add New</span></button>
      <table class="table table-hover w-75 mx-auto">
        <thead class="thead-light">
        <tr class="table-warning">
          <th scope="col">#</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Customer</th>
          <th scope="col">Deposit</th>
          <th scope="col">Facility</th>
          <th scope="col">Service Include</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contract of contractList;let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{contract.startDate | date: "dd-MM-yyyy"}}</td>
          <td>{{contract.endDate | date: "dd-MM-yyyy"}}</td>
          <td>{{contract.customer.customerName}}</td>
          <td>{{contract.deposit}}</td>
          <td>{{contract.facility.facilityName}}</td>
          <td>{{contract.serviceInclude}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are You Sure ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Delete !</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Video Start -->
  <div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
      <div class="col-md-6 bg-dark d-flex align-items-center">
        <div class="p-5">
          <h6 class="section-title text-start text-white text-uppercase mb-3">Luxury Living</h6>
          <h1 class="text-white mb-4">Discover A Brand Luxurious Hotel</h1>
          <p class="text-white mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam
            et
            eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
          <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Our Rooms</a>
          <a href="" class="btn btn-light py-md-3 px-md-5">Book A Room</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="video">
          <button type="button" class="btn-play" data-bs-toggle="modal" data-src="" data-bs-target="#videoModal">
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
