<h1>Login</h1>
<form [formGroup]="userForm">
  <label>Email: </label>
  <input type="text" formControlName="email">
  <br>
  <p style="color: red" *ngIf="userForm.controls.email.hasError('required') && userForm.controls.email.touched">Không
    được để trống !</p>
  <p style="color: red" *ngIf="userForm.controls.email.hasError('email')">phải theo định dạng ...@...dot...</p>
  <label>Password: </label>
  <input type="password" formControlName="password">
  <br>
  <p style="color: red" *ngIf="userForm.controls.password.hasError('required') && userForm.controls.password.touched">
    Không được để trống !</p>
  <p style="color: red" *ngIf="userForm.controls.password.hasError('minlength')">tối thiểu 6 kí tự</p>
  <button type="submit">login !</button>
</form>
